
<html>
    <head>
        <meta http-equiv="Content-Type" content="html/text" charset="utf-8">
        <meta name="keywords" content="小只因子">
        <meta http-equiv="X-UA-Compatible" content="IE=8"/>
        <link rel="shortcut icon" href="image/logo_title.png"/>
        <script language="javascript" src="plugin/at/jquery-1.8.2.min.js"></script>
        <title>信息提示</title>
    </head>
    <body>
        <div class="show_message">

            <link rel="stylesheet" type="text/css" href="template/default/style.css"/> 
            <div class="showmessage_message">
                <img src="image/icons/showmessage_notice.png"></img>
                <p class="showmessage_title">信息提示</p>
                <p class="showmessage_message_inner">小橘子还没实现这个功能捏</a></p>
            </div>
          </div>
     </body>
</html>
