<!DOCTYPE html>

<html>
<head>
    <title>首页 测试用户 </title>
    <%- include ("../partials/head") %>
</head>
<%- include ("../partials/title") %>
<div id="bg_pic">
    <div id="wrap">
        <%- include ("../partials/self_content") %>
    </div>
</div>
<%- include ("../partials/foot") %>
</html>