<div id="footer" style="width:100%;">
    <div id="footerfg">
        <p class="r_option">
        </p>
        <p>
            <a title="20130531"></a> <span title="2813">V2.4</span> -
            <font size="2"><a>安卓客户端</a></font> - <a href="mailto:">联系我们</a> - <font size="2"><a style="color:#00f;" href="https://bhpan.buaa.edu.cn/#/link/5726573865C9B757C458A8E9F590D1E7">招贤纳士</a></font>
        </p>
        <p>
            技术支持 <a target="_blank">小橘子</a> <a href="http://or4ngesec.github.io" target="_blank">小橘子某部门</a>
        </p>
    </div>
</div>
