<div id="sidebarbox">
    <div id="sidebar">
        <div class="sidebox">
            <h4 class="title">热门标签</h4>
            <div id="tagcloud" style="width:186px;height:186px;">
            </div>
        </div>
        <div class="sidebox">

            <h4 class="title" style="margin-bottom:12px">
                <p class="r_option" style="margin-top:2px;">
                    <a href="/error">查看全部</a>
                </p>
                校园日历
            </h4>
            <div>
                <div class="calendarbox" id="arrangementcalendar" style="">您目前没有权限添加校园日历</div>
            </div>
        </div>
        <div class="sidebox">
            <h4 class="title" style="margin-bottom:12px">
                <p class="r_option" style="margin-top:2px;">
                    <a href="/appeal">我的</a>
                </p>
                诉求信息
            </h4>
            <ul class="complain" id="show_complain">
                <div id="reply_bag">
                    <div id="scroll_top">
                    </div>
                </div>
                <script src="/source/index_right_side.js"></script>
            </ul>
        </div>
    </div>
</div>