<div id="app_sidebarbox">
    <div id="app_sidebar">
        <div class="header_avatar">
            <div class="round_avatar">
                <img src="/image/cxk.jpg"
                     class='img-circle shadow_avatar' style='height:131px; width:131px;'/>
            </div>
        </div>
        <div class="header_account" style="margin-bottom:22px;">
        </div>
        <div class="left_line_about_me"><span class="color_ch"><a>关于我</a></div>
        <div class="l_line"></div>
        <div class="r_line"></div>
        <ul class="app_list" id="default_userapp">
            <li class="first_show"><img src="/image/icons/icon_zuji.png"/><a>足迹</a></li>
            <li><img src="/image/icons/icon_album.png"/><a>相册</a></li>
            <li><img src="/image/icons/icon_article.png"/><a>日志</a></li>
            <li><img src="/image/icons/icon_vote.png"/><a>投票</a></li>
            <li><img src="/image/icons/icon_activity.png"/><a>活动</a></li>
            <li><img src="/image/icons/icon_group.png"><a>群组</a></li>
            <li><img src="/image/icons/icon_share.png"/><a>分享</a></li>
            <li><img src="/image/icons/icon_public.png"/><a>公共主页</a></li>
            <li><img src="/image/icons/icon_calendar.png"/><a>日历</a></li>
            <li class="last_show"><img src="/image/icons/icon_appeal.png"/><a>诉求</a></li>
        </ul>
        <div class="left_line_my_act" id="my_defaultapp_toggle" style="margin-top:-12px;"><span
                class="color_ch"><a href="javascript:void(0);" title="展开官方应用">官方应用<img class="icon-pull"
                                                                                       src="/image/icons/icon-pull-down.png"/></a></span>
        </div>
        <div class="l_line" style="width:30px;"></div>
        <div class="r_line" style="margin-left:119px;"></div>
        <ul class="app_list topline" id="my_defaultapp" style="display:block;height:400px;">
            <li class="first_show_next"><img src="/image/icons/icon_bt.png"/></img><a
                    style="height:auto;">小橘子园</a></li>
            <li><img src="/image/icons/icon_score.png"/><a title="积分商城">积分商城</a></li>
            <li><img src="/image/icons/icon_wall.png"/><a>小橘子墙</a></li>
            <li><img src="/image/icons/icon_video.png"/><a>视频中心</a></li>
            <li><img src="/image/icons/icon_tao.png"/><a title="路购淘物" target="_blank">橘子淘物</a></li>
            <li><img src="/image/icons/icon_map.png"/><a title="校园地图" target="_blank">橘子地图</a></li>
            <li><img src="/image/icons/icon_job.png"/><a title="就业互助">就业互助</a></li>
            <li><img src="/image/icons/icon_language.png"/><a title="中外语言互助">语言互助</a></li>
        </ul>

        <ul id="scrollToShow" class="app_list" style="width:165px;margin-top:-261px;display:none;"
            id="default_userapp">
            <li><img src="/image/icons/icon_zuji.png"/><a href="">足迹</a></li>
            <li><img src="/image/icons/icon_album.png"/><a href="">相册</a></li>
            <li><img src="/image/icons/icon_article.png"/><a href="">日志</a></li>
            <li><img src="/image/icons/icon_vote.png"/><a href="">投票</a>
            </li>
            <li><img src="/image/icons/icon_activity.png"/><a href="">活动</a></li>
            <li><img src="/image/icons/icon_group.png"/><a href="">群组</a></li>
            <li><img src="/image/icons/icon_share.png"/><a href="">分享</a></li>
            <li><img src="/image/icons/icon_public.png"/><a href="">公共主页</a></li>
            <li><img src="/image/icons/icon_appeal.png"/><a href="">诉求</a></li>
        </ul>
        <div class="showMessage" style="display:none;">
            <div class="message" style="display:none;">
            </div>
        </div>
    </div>
</div>