<div id="content" style="border-right:none">
    <ul id="share_ul">
        <li>
            <div class="c_form" style="margin-top:75px;text-align:center;"><img
                    src="/image/icons/no_status.png"/>
                <p style="color:#777;">现在还没有分享</p></div>
        </li>
    </ul>

</div>